*{
    font-family: 'Arvo', serif;
}

body{
    background: linear-gradient(93deg,#9c9494 20.76%, #181819 78.80%);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 80px;
}

.parrafo{
    width: 35%;

}

nav ul{
    display: flex;
    list-style: none;

}

nav li{
    margin: 0 30px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav span{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

nav img{
    width: 14%;
    align-items: center;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

main img{
    width: 30%;
    height: 150px;
}

.btn3{
    background-color: rgb(90, 166, 243);;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn4{
    background-color: rgb(90, 166, 243);;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}
 input{
    text-align: center;
    background-color: blue;
    border: 2px solid transparent;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 200;
    padding: 7px 0px;
    width: 100%;
    transition: border .5s;
}

form{
    background-color: #a0a4a4;
    border-radius: 30px; 
    padding: 70px 10px;

}

#contacto form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

#contacto input{
    border-radius: 70px;
    background-color: #ffffff;
    color: #000;
}
#contacto{
    width: 55%;
    margin: 0 22%;
}

#Texto p{
    font-size: 120%;
    display: flex;
    color: white;
}

#Titulo{
    font-size: 55px;
    color: white;
    margin-bottom: 0px;
    text-align: left;
}

#services h1{
    font-size: 30px;
    color: white;
    padding-top: 20px;
    margin-bottom: 5%;
    text-align: center;
}



.btn{
    background-color: rgb(212, 0, 255);;
    color: white;
    font-size: 30px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}




.btn3{
    background-color: rgb(90, 166, 243);;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.cuadrado img{
    display: flex;
    width: 200px;
    height: 200px;
    background: none;
    border: 5px solid #464242;
    border-radius: 40px;
    margin-left: 15px;
}

.cuadrado p{
    color: white;
}

#tabla1{
    border-color: #093850;
}

#tabla1 button{
    background-color: #181819;
    color: aqua;
}

#tabla1 p{
    color: white;
}

#tabla1 span{
    color:white
}

.texto{
    margin: 0 80px;
    font-size: 20px;
}

#tabla1{
    margin-right: 120px;
    border-radius: 100px;
}