*{
    font-family: 'Roboto', sans-serif;
}


body{
    background: linear-gradient(93deg,#4d116b 20.76%, #8f23a5 78.80%);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;

}

nav li{
    margin: 0 30px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav span{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

nav img{
    width: 14%;
    align-items: center;
}

.btn{
    background-color: rgb(77, 17, 89);
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.btn{
    background-color: rgb(77, 17, 89);
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.btn2{
    background-color: rgb(91, 30, 183);
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn2 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.btn3{
    background-color: rgb(102, 0, 255);
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

#contacto form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 40px auto;
    text-align: center;
}

#contacto input, select, textarea{
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#Contacto{
    background:linear-gradient(98deg,#70c90b,#4d116b);
}